<div class="close-btn">x</div>
<div class="mid-title">Options</div>
<div class="option-list">
    <div class="option-key">Username</div>
    <div class="option-value" data-option="username"><input value="Steve"></div>

    <div class="option-key">Music</div>
    <div class="option-value" data-option="music">
        <input type="range" value="100" min="0" max="100" step="1">
        <div class="option-value-text"></div>
    </div>

    <div class="option-key">SFX</div>
    <div class="option-value" data-option="sfx">
        <input type="range" value="100" min="0" max="100" step="1">
        <div class="option-value-text"></div>
    </div>

    <div class="option-key">Camera Speed</div>
    <div class="option-value" data-option="cameraSpeed">
        <input type="range" value="12" min="1" max="30" step="1">
        <div class="option-value-text"></div>
    </div>
</div>
<div class="save-and-quit btn" hidden>Save and Quit</div>