body {
    cursor: crosshair;
    background-color: #79a4fa;
    margin: 0;
    overflow: hidden;
}

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("../assets/textures/gui/cursor.png");
    background-size: 100% 100%;
    z-index: 100;
    translate: -50% -50%;
}

.f3-menu {
    position: absolute;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 10px;
    font-size: 26px;
}

.inventory {
    display: flex;
}

.hotbar-inventory {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 37.5%;
    aspect-ratio: 9 / 1;
    translate: -50%;
}

.hotbar-inventory > div {
    background-image: url("../assets/textures/gui/inventory/hotbar.png");
    background-size: 100% 100%;
    width: calc(100% / 9);
    aspect-ratio: 1 / 1;
}

.chat-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 40%;
    background: rgba(0, 0, 0, 0.1);
}

.chat-input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 10px);
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    border: none;
    padding: 5px;
}

.chat-messages {
    position: absolute;
    bottom: 29px;
    width: calc(100% - 5px);
    padding-left: 5px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: calc(100% - 29px);
}

.message {
    margin-top: 7px;
    translate: -100%;
    transition: translate 0.5s;
    display: flex;
    word-wrap: anywhere;
}

.space {
    width: 11px;
    display: inline-block;
}

.sub-message {
    display: contents;
}

.emote {
    margin-left: 3px;
    margin-right: 3px;
    height: 18px;
    aspect-ratio: 1 / 1;
    background-size: 100%;
    background-repeat: no-repeat;
}

input {
    color: white;
}