body {
    background-color: #79a4fa;
    margin: 0;
    overflow: hidden;
}

#game {
    cursor: crosshair;
}

.f3-menu {
    position: absolute;
    right: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    font-size: 13px;
    pointer-events: none;
}

.f3-menu > span {
    margin-left: 5px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
}

.inventory-item {
    position: relative;
    cursor: grab !important;
    aspect-ratio: 1 / 1;
}

.inventory-item > canvas {
    width: 60%;
    height: 60%;
    translate: 30% 30%;
    z-index: 1;
    pointer-events: none;
}

.inventory-item > div {
    position: absolute;
    right: 8%;
    bottom: 8%;
    pointer-events: none;
}

.hotbar-inventory {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 37.5%;
    aspect-ratio: 9 / 1;
    translate: -50%;
    pointer-events: none;
    z-index: 1;
}

.hotbar-inventory > .inventory-item {
    background-image: url("../assets/textures/gui/inventory/hotbar.png");
    background-size: 100% 100%;
    width: calc(100% / 9);
    aspect-ratio: 1 / 1;
}

.hotbar-inventory > .inventory-item > canvas {
    width: 50%;
    height: 50%;
    translate: 50% 50%;
    box-shadow: none;
}

.hotbar-inventory > .inventory-item > div {
    right: 5%;
    bottom: 5%;
}

.chat-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30vw;
    height: 40vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    opacity: 1;
    transition: all 0.3s;
}

.chat-input {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: calc(100% - 10px);
    height: 0;
    background: transparent;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 5px;
    pointer-events: none;
    transition: all 0.3s;
}

.chat-messages {
    position: absolute;
    bottom: 29px;
    width: calc(100% - 5px);
    padding-left: 5px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: calc(100% - 29px);
}

.message {
    user-select: text;
    transition: all 0.3s;
}

.chat-container > .chat-messages {
    overflow: hidden;
    bottom: 10px;
}

.full-chat-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
}

.full-chat-container > .chat-input {
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    height: 15px;
}

.mobile-chat-toggle {
    position: absolute;
    left: calc(50% - 28px);
    top: 0;
    translate: -50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6) url("../assets/textures/gui/chat.png");
    background-size: 100% 100%;
    border-radius: 50%;
    z-index: 5;
}

.message {
    margin-top: 7px;
    translate: -100%;
    transition: translate 0.5s;
    display: flex;
    word-wrap: anywhere;
}

.space {
    width: 11px;
    display: inline-block;
}

.sub-message {
    display: contents;
}

.emote {
    margin-left: 3px;
    margin-right: 3px;
    height: 18px;
    aspect-ratio: 1 / 1;
    background-size: 100%;
    background-repeat: no-repeat;
}

.save-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    opacity: 0;
    pointer-events: none;
}

.background-blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.player-inventory-container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 50vw;
    height: calc(50vw * 166 / 176);
    background: url("../assets/textures/gui/inventory/player_inventory.png") no-repeat 50% 50%;
    transition: all 0.3s;
    aspect-ratio: 176 / 166;
    background-size: 100% 100%;
    scale: 0;
    z-index: 3;
}

.player-inventory-container > div {
    position: absolute;
    z-index: 3;
}

.inv-pp {
    left: 4%;
    top: 50%;
    width: 92%;
    height: 32.8%;
}

.inv-ph {
    left: 4%;
    top: 85%;
    width: 92%;
    height: 10.8%;
}

.inv-pa {
    left: 4.1%;
    top: 4.2%;
    width: 10.1%;
    height: 43.6%;
}

.inv-pcs {
    left: 49.5%;
    top: 15%;
    width: 20.5%;
    height: 22%;
}

.inv-pcr {
    left: 81.2%;
    top: 21.1%;
    width: 10.3%;
    height: 10.8%;
}

.inv-pp > .inventory-item,
.inv-ph > .inventory-item {
    width: calc(100% / 9);
}

.inv-pa > .inventory-item {
    height: calc(100% / 4);
}

.inv-pcs > .inventory-item {
    width: calc(100% / 2);
}

.inv-pcr > .inventory-item {
    width: 100%;
}

.options-menu {
    z-index: 3;
}

.mobile-options-open {
    position: absolute;
    left: calc(50% + 28px);
    top: 0;
    translate: -50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.mobile-options-open > div {
    width: 6px;
    aspect-ratio: 1 / 1;
    background: white;
    border-radius: 50%;
}

.mobile-controls {
    position: absolute;
    left: 2%;
    bottom: 6%;
    width: 22.5%;
    aspect-ratio: 3 / 2;
}

.mobile-up, .mobile-right, .mobile-left {
    position: absolute;
    width: 33%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.mobile-up {
    top: 0;
    left: 50%;
    translate: -50%;
    background-image: url("../assets/textures/gui/controls/up.png");
}

.mobile-right {
    bottom: 0;
    right: 0;
    background-image: url("../assets/textures/gui/controls/right.png");
}

.mobile-left {
    bottom: 0;
    left: 0;
    background-image: url("../assets/textures/gui/controls/left.png");
}