@font-face {
    font-family: BlockyFont;
    src: url("../assets/fonts/BlockyFont.ttf");
}

:root {
    --color-0: #000000;
    --color-1: #0000AA;
    --color-2: #00AA00;
    --color-3: #00AAAA;
    --color-4: #AA0000;
    --color-5: #AA00AA;
    --color-6: #FFAA00;
    --color-7: #AAAAAA;
    --color-8: #555555;
    --color-9: #5555FF;
    --color-a: #55FF55;
    --color-b: #55FFFF;
    --color-c: #FF5555;
    --color-d: #FF55FF;
    --color-e: #FFFF55;
    --color-f: #FFFFFF;
    --blur: 2px;
}

* {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    font-family: BlockyFont, Calibri, serif;
    transition: translate 0.1s, margin 0.1s, padding 0.1s, scale 0.1s, filter 0.1s, backdrop-filter 0.1s;
}

body {
    color: white;
    letter-spacing: -1px;
    user-select: none;
}

.rainbow-text {
    font-size: 2em;
    font-weight: bold;
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 3s infinite linear;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.flex {
    display: flex;
}

.btn {
    text-align: center;
    font-size: 25px;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn:hover {
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.4);
}

.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(var(--blur));
    transition: all 0.2s;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 15px;
    border-radius: 5px;
    backdrop-filter: blur(var(--blur));

    pointer-events: none;
    scale: 0;
    transition: scale 0.3s;
    z-index: 1;
    min-width: max-content;
    overflow: hidden;
}

input {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
    color: white;
    margin: 10px;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

.close-btn:hover {
    background-color: #ff3131;
    color: white;
}

.title, .mid-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0 0 20px white;
}

.title {
    font-size: 50px;
}

.mid-title {
    font-size: 25px;
}

@media (orientation: portrait) {
    .rotate-message {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(var(--blur));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
        z-index: 9999999;
        text-align: center;
        text-shadow: 0 0 5px black;
    }
}

@media (orientation: landscape) {
    .rotate-message {
        display: none;
        scale: 0;
    }
}

@media (max-width: 916px) {
    .container {
        width: calc(100vw - 50px);
        height: calc(100vh - 50px);
    }
}

.options-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--blur));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: 0.3s all;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.options-container {
    width: 500px;
}

h3 {
    text-align: center;
}

.option-split {
    display: flex;
    justify-content: center;
}

.option-split > div {
    flex: 1;
}

.option-btn, .option-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: relative;
    margin: 10px;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: white;
    overflow: hidden;
}

.disabled {
    filter: brightness(50%);
}

.option-input > label {
    white-space: nowrap;
}

.option-btn {
    background: rgba(58, 68, 83, 0.7);
    border-color: rgba(123, 117, 109, 0.8);
    color: #ffffff;
}

.option-btn > .option-value-text {
    opacity: 1 !important;
}

.option-input {
    padding: 0;
}

.option-btn:hover, .option-btn:focus-within {
    border-color: rgba(203, 203, 203, 0.8);
}

.option-btn:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.option-center {
    translate: 50%;
    width: 50%;
}

.option-input > input {
    margin: 0;
    background: none;
    border: none;
    padding: 0;
}

.option-value-text {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    opacity: 0.5;
    pointer-events: none;
    white-space: nowrap;
}

@keyframes scroll-animation {
    0% {
        left: 5px;
    }

    50% {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    100% {
        left: 5px;
    }
}

.option-input > input[type="text"], .option-input > input[type="password"], .option-input > input[type="number"] {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    color: #e8e8e8;
    border-radius: 3px;
    transition: 0.3s all;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.option-input > input[type="range"] {
    -webkit-appearance: none;
    background: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.option-input > input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.5);
}

.option-input > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 15px;
    background: #9A8C98;
    border: 3px solid #22223B;
    cursor: pointer;
}

.option-input > input[type="range"]::-webkit-slider-thumb:hover {
    background: #C9ADA7;
}

.option-input > input[type="range"]::-webkit-slider-thumb:active {
    border: 3px solid #ffeeee;
}

.option-input > input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 15px;
    background: #9A8C98;
    border: 3px solid #22223B;
    cursor: pointer;
    transition: background 0.3s ease;
}

.option-input > input[type="range"]::-moz-range-track {
    background: #4A4E69;
    height: 8px;
    border-radius: 3px;
}

.option-input > label {
    padding-left: 10px;
}