@font-face {
    font-family: Minecraft;
    src: url("../assets/fonts/Minecraft.ttf");
}

* {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    font-family: Minecraft, Calibri, serif;
    user-select: none;
}

body {
    color: white;
    letter-spacing: -1px;
}