* {
    transition: all 0.1s;
}

body {
    background-color: #79a4fa;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
}

.buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.btn {
    text-align: center;
    font-size: 25px;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn:hover {
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.4);
}